@model List<EventTable>
@{
    ViewData["Title"] = "Events";
    
}

<h1 class="text-light">Events</h1>
<br />
<table class="table table-responsive table-striped">
    <tr class="bg-secondary text-light">
        <th>Name</th>
        <th>Description</th>
        <th>Group Name</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Location</th>
        <th>Rsvp</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr class="bg-light text-dark">
            <td>@m.EventName</td>
            <td>@m.EventDescription</td>
            <td>@m.GroupName</td>
            <td>@m.DateAndTime</td>
            <td>@m.Venue</td>
            <td>@m.VenueLocation</td>
            <td><button class="btn btn-primary" onclick="window.location.href='../Home/CheckRsvp?groupId=@m.GroupId&eventId=@m.EventId'">RSVPs</button></td>
        </tr>
    }

</table>







