
@{
    ViewData["Title"] = "Event Details";
}

@model YelpDetailObject

<h1 class="text-light">Event Details</h1>

<div>
    <h3 class="text-light">@ViewBag.thisEvent.EventName</h3>
</div>
<div>
    <p class="text-light">
        @ViewBag.thisEvent.Venue in @ViewBag.thisEvent.VenueLocation
        on @ViewBag.thisEvent.DateAndTime.ToString()
    </p>
</div>
<br />


@if (Model.name == null)
{
    <h2 class="text-light">at @ViewBag.thisEvent.Venue</h2>
}
else if ((Model.name.Trim().ToLower().Contains(ViewBag.thisEvent.Venue.Trim().ToLower())) && (Model.name != null))
{
    <h2 class="text-light">Venue info: @Model.name</h2>
    <table class="table text-light">
        <tr>
            <th>
                Address
            </th>
            <td>
                @Model.location.address1<br />
                @Model.location.city, @Model.location.state, @Model.location.zip_code
            </td>
        </tr>
        <tr>
            <th>
                Phone
            </th>
            <td>
                @Model.phone
            </td>
        </tr>
        <tr>
            <th>
                Rating
            </th>
            <td>
                <B>@Model.rating</B> out of 5
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="@Model.photos.First()" height="480" />
            </td>
        </tr>
    </table>
}
else
{
    <h2 class="text-light">at @ViewBag.thisEvent.Venue</h2>
}
